.swapLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  gap: 16px;
  position: relative;
}

@media (min-width: 1024px) {
  .swapLayout {
    justify-content: flex-start;
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    padding: 84px 16px 48px;
  }
}

/* Dino animation */

.dinoButton {
  position: fixed;
  width: 220px;
  height: 50px;
  bottom: 80px;
  right: 80px;
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
}

.rainbowButton {
  position: fixed;
  width: 220px;
  height: 50px;
  bottom: 80px;
  right: 320px;
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
}

.dino {
  position: fixed;
  bottom: -100px;
  width: 80px;
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
  z-index: 999;
  transform-origin: bottom left;
}

.visible {
  transform: rotate(-40deg) translateY(-30vh);
  opacity: 1;
}

/* Rainbow overlay with VHS grain effect */
.rainbowContainer {
  position: absolute;
  top: 70%;
  left: 30%;
  width: 600px;
  height: 34em;
  transform: translate(-50%, -100%);
  z-index: 999;
  pointer-events: none;
}

/* Common rainbow arc style */
.rainbowColor {
  background-color: transparent;
  opacity: 0;
  position: absolute;
  transform: translate(100%, 100%);
  left: 50%;
  transform-origin: 50% 0;
  animation: spin 1s ease-in-out forwards;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) rotate(180deg);
    opacity: 1;
  }
}

.rainbowColor1 {
  height: 21.25em;
  width: 42.5em;
  border: 1.25em solid #fd004c;
  border-top: none;
  top: calc(50% + 5.62em);
  border-radius: 0 0 23.25em 23.25em;
  animation-delay: 0s;
}
.rainbowColor2 {
  height: 20em;
  width: 40em;
  border: 1.25em solid #fe9000;
  border-top: none;
  top: calc(50% + 5em);
  border-radius: 0 0 20em 20em;
  animation-delay: 0.2s;
}
.rainbowColor3 {
  height: 18.75em;
  width: 37.5em;
  border: 1.25em solid #fff020;
  border-top: none;
  top: calc(50% + 4.37em);
  border-radius: 0 0 18.75em 18.75em;
  animation-delay: 0.4s;
}
.rainbowColor4 {
  height: 17.5em;
  width: 35em;
  border: 1.25em solid #3edf4b;
  border-top: none;
  top: calc(50% + 3.75em);
  border-radius: 0 0 17.5em 17.5em;
  animation-delay: 0.6s;
}
.rainbowColor5 {
  height: 16.25em;
  width: 32.5em;
  border: 1.25em solid #3363ff;
  border-top: none;
  top: calc(50% + 3.12em);
  border-radius: 0 0 16.25em 16.25em;
  animation-delay: 0.8s;
}

/* HAIN animated text */
.hainText {
  position: fixed;
  bottom: 20%;
  left: 10%;
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-shadow:
    0 0 5px #ff00ff,
    0 0 15px #00ffff;
  animation: hainPop 10s cubic-bezier(0.2, 1, 0.3, 1) forwards;

  z-index: 10000;
}

@keyframes hainPop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
